{% extends "base.html" %}

{% block content %}

    <div class="book-list">
        <h1>Book List:</h1>

        {% for book in books %}
        <a href="/books/{{books.index(book)}}">{{book.title}}</a>
        {% endfor %}
    </div>

    <form action="books" method="post">
        <label for="title">Book Title</label>
        <input type="text" name="title" id="title">
        <label for="author">Author</label>
        <input type="text" name="author" id="author">
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre">
        <input type="submit" value="Add Book">
    </form>


{% endblock %}